
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 6vw;
  line-height: 1;
}

/* Containers */

.container-fluid{
  padding: 10% 10%;
}


/* Navigation Bar */

.navbar {
  padding: 1rem 0 4.5rem;
}

.navbar-brand {
  font-family: "Quicksand";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.6rem;
  font-family: 'Nunito Sans', sans-serif;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text
.navbar-custom .navbar-link {
  color: #528DFE;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #f6416c;
}

.fa-bars {
  color:#528DFE; font-size:28px;;
}

/* Title Section */

#title {
  color: #364f6b;
  text-align: left;
  
}

#title .container-fluid {
  padding: 5% 10%;
}

/* Title Image */

.title-image {
  width: 100%;
}

